/****** IMPORTING FONTS ******/
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Regular.otf);
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-SemiBold.otf);
  font-style: semibold;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-SemiBoldItalic.otf);
  font-weight: semibold;
  font-style: italic;
}

/****** IMPORTING FONTS ******/
:root {
  --clr-section: #A8B2B9;
}

/****** GlOBAL STYLES ******/
body {
  font-family: 'Open Sans', sans-serif;
}

section {
  padding-top: 5rem;
}

/****** COMPONENTS ******/

/****** UTILITIES ******/
.main-btn {
  border-width: 2px;
  font-weight: 600;
}

.main-text {
  line-height: 2;
  color: var(--clr-section);
}

.ff-prim {
  font-family: HKGrotesk;
}
.ff-prim-bold {
  font-family: HKGrotesk;
  font-weight: bold;
}
.ff-prim-italic {
  font-family: HKGrotesk;
  font-style: italic;
}
.ff-prim-bold-italic {
  font-family: HKGrotesk;
  font-weight: bold;
  font-style: italic;
}
.ff-prim-semibold {
  font-family: HKGrotesk;
  font-weight: semibold;
}
.ff-prim-semibold-italic {
  font-family: HKGrotesk;
  font-weight: semibold;
  font-style: italic;
}

.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 1.5px;
}
.ls-3 {
  letter-spacing: 2px;
}

/****** HEADER ******/
/* NAV */
nav .navbar-toggler {
  border: 0;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
/* BANNER */
.banner {
  min-height: 65vh;
}
.info h1 {
  font-family: HKGrotesk;
  max-width: 25rem;
  margin-bottom: 1rem;
}
.info p {
  max-width: 30rem;
}
@media (max-width: 576px) {
  .buttons > * {
    width: 100%;
  }
}

/****** COLLABORATION ******/
.collaboration :first-child :first-child {
  max-width: 525px;
}