/****** IMPORTING FONTS ******/
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Regular.otf);
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-SemiBold.otf);
  font-style: semibold;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-SemiBoldItalic.otf);
  font-weight: semibold;
  font-style: italic;
}

/****** IMPORTING FONTS ******/
:root {
  --clr-prim: #183B56;
  --clr-section: #5A7184;
}

/****** GlOBAL STYLES ******/
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--clr-prim);
}

section {
  padding-top: 5rem;
}

/****** COMPONENTS ******/

/****** UTILITIES ******/
.main-btn {
  border-width: 2px;
  font-weight: 600;
}

.main-text {
  line-height: 2;
  color: var(--clr-section);
}

.main-bg {
  background-color: #E4E4E4;
}

.ff-prim {
  font-family: HKGrotesk;
}
.ff-prim-bold {
  font-family: HKGrotesk;
  font-weight: bold;
}
.ff-prim-italic {
  font-family: HKGrotesk;
  font-style: italic;
}
.ff-prim-bold-italic {
  font-family: HKGrotesk;
  font-weight: bold;
  font-style: italic;
}
.ff-prim-semibold {
  font-family: HKGrotesk;
  font-weight: semibold;
}
.ff-prim-semibold-italic {
  font-family: HKGrotesk;
  font-weight: semibold;
  font-style: italic;
}

.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 1.5px;
}
.ls-3 {
  letter-spacing: 2px;
}

/****** HEADER ******/
/* NAV */
nav .navbar-nav a {
  color: var(--clr-prim);
  font-weight: 600;
}
nav .navbar-nav a:hover {
  color: var(--clr-section)
}
nav .navbar-toggler {
  border: 0;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
/* BANNER */
.banner {
  min-height: 65vh;
}
.info h1 {
  font-family: HKGrotesk;
  max-width: 25rem;
  margin-bottom: 1rem;
}
.info p {
  max-width: 30rem;
}
@media (max-width: 576px) {
  .buttons > * {
    width: 100%;
  }
}

/****** COLLABORATION ******/
.collaboration > :first-child > :first-child {
  max-width: 525px;
}
.box {
  max-width: 400px;
  padding: 1rem;
  background-color: white;
}
.icon-holder {
  margin: 0 auto 2rem;
  padding: 6px;
  width: fit-content;
  border: 1px solid var(--clr-section);
  border-radius: 6px;
}
@media (min-width: 768px) {
  .icon-holder {
    margin-left: 0;  
  }
}

/****** TESTIMONIALS ******/