/****** IMPORTING FONTS ******/
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Regular.otf);
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-SemiBold.otf);
  font-style: semibold;
}
@font-face {
  font-family: HKGrotesk;
  src: url(../assets/font/HKGrotesk-SemiBoldItalic.otf);
  font-weight: semibold;
  font-style: italic;
}

/****** IMPORTING FONTS ******/
:root {
  --clr-prim: #183B56;
  --clr-section: #5A7184;
  --clr-light-green-rgb: 54, 179, 126;
}

/****** GlOBAL STYLES ******/
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--clr-prim);
}

section {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

/****** COMPONENTS ******/

/****** UTILITIES ******/
.main-btn {
  border-width: 2px;
  font-weight: 600;
}

.main-text {
  max-width: 480px;
  line-height: 2;
  color: var(--clr-section);
}

.main-bg {
  background-color: #E4E4E4;
}

.ff-prim {
  font-family: HKGrotesk;
}
.ff-prim-bold {
  font-family: HKGrotesk;
  font-weight: bold;
}
.ff-prim-italic {
  font-family: HKGrotesk;
  font-style: italic;
}
.ff-prim-bold-italic {
  font-family: HKGrotesk;
  font-weight: bold;
  font-style: italic;
}
.ff-prim-semibold {
  font-family: HKGrotesk;
  font-weight: semibold;
}
.ff-prim-semibold-italic {
  font-family: HKGrotesk;
  font-weight: semibold;
  font-style: italic;
}

/****** HEADER ******/
nav .navbar-nav a {
  color: var(--clr-prim);
  font-weight: 600;
}
nav .navbar-nav a:hover {
  color: var(--clr-section)
}
nav .navbar-toggler {
  border: 0;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}

/****** BANNER ******/
.banner {
  min-height: 65vh;
}
.info h1 {
  font-family: HKGrotesk;
  max-width: 25rem;
  margin-bottom: 1rem;
}
.info p {
  max-width: 30rem;
}
@media (max-width: 576px) {
  .buttons > * {
    width: 100%;
  }
}

/****** COLLABORATION ******/
.collaboration > :first-child > :first-child {
  max-width: 525px;
}
.box {
  max-width: 400px;
  padding: 1rem;
  background-color: white;
}
.icon-holder {
  margin: 0 auto 2rem;
  padding: 6px;
  width: fit-content;
  border: 1px solid var(--clr-section);
  border-radius: 6px;
}
@media (min-width: 768px) {
  .icon-holder {
    margin-left: 0;  
  }
}

/****** TESTIMONIALS ******/
.testimonials-holder {
  color: white;
  background-image: linear-gradient(white 15%, var(--clr-prim) 15%);
}
@media (min-width: 768px) {
  .testimonials-holder {
    background-image: linear-gradient(var(--clr-prim) 87%, white 87px);
  }
}
.card-head {
  margin: 0 auto 1.5rem;
  padding: 6px;
  max-width: 200px;
  border: 2px solid white;
  border-radius: 100px;
  overflow: hidden;
}
.testimonial-meta p:last-child {
  color: rgba(255, 255, 255, .8);
  font-size: 1.2rem;
}
.circles {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .circles {
    position: absolute;
    top: 60px; right: 0;
  }
}
@media (min-width: 992px) {
  .circles {
    position: absolute;
    top: 60px; right: 20px;
  }
}
.circles .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .4);
}
.circles .circle.active {
  background-color: white;
}
.prev,
.next {
  display: grid;
  place-content: center;
  border-radius: 6px;
  background-color: white;
  padding-inline: 20px;
  aspect-ratio: 1;
  cursor: pointer;
}
.prev {
  transform: rotateY(.5turn);
}

/****** INTEGRATION ******/
.integration .info {
  max-width: 500px;
  margin-inline: auto;
}
.integration .icons-holder {
  display: flex;
}
.icons-left,
.icons-right {
  position: relative;
  height: 160px;
  flex: 1;
}
@media (min-width: 768px) {
  .icons-left,
  .icons-right {
    position: absolute;
    top: 0;
    width: 30%;
  }
  .icons-left {
    right: 75%;
  }
  .icons-right {
    left: 75%;
  }
}
.icons-left > div,
.icons-right > div {
  position: absolute;
}
.icons-left > div:first-child {
  top: 2%; left: 2%;
}
.icons-left > div:nth-child(2) {
  top: 0; right: 10%;
}
.icons-left > div:nth-child(3) {
  bottom: 0; left: 5%;
}
.icons-left > div:nth-child(4) {
  top: 39%; right: 45%;
}
.icons-left > div:nth-child(5) {
  bottom: 1%; right: 10%;
}
.icons-right > div:first-child {
  top: 3%; left: 2%;
}
.icons-right > div:nth-child(2) {
  top: 2%; right: 10%;
}
.icons-right > div:nth-child(3) {
  bottom: 0; left: 5%;
}
.icons-right > div:nth-child(4) {
  top: 39%; right: 60%;
}
.icons-right > div:nth-child(5) {
  bottom: 10%; right: 10%;
}
.icons-right > div:nth-child(6) {
  top: 20%; right: 30%;
}

/****** PRICING PLAN ******/
.pricing {
  background-image: linear-gradient(rgb(var(--bs-light-rgb)) 85%, white 85%);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bs-yellow);
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.annual-plan {
  position: relative;
}
.annual-plan::before {
  content: "Save 10%";
  position: absolute;
  color: var(--bs-yellow);
  bottom: 100%; left: 0;
}
.plans > * {
  max-width: 900px;
  margin-inline: auto;
}
.price {
  background-color: rgb(var(--bs-light-rgb))
}
@media (min-width: 768px) {
  .price {
    background-color: white;
  }
}
.devider {
  position: absolute;
  border: 1px solid var(--bs-gray-200);
  bottom: -65px;left: 5px; right: 5px;
}

/****** DOWNLOAD ******/
.download .card {
  border: none;
  border-radius: 0;
}
.download .card:first-child {
  background-color: rgb(var(--clr-light-green-rgb));
}
.download .card:not(:first-child) {
  background-color:rgba(var(--clr-light-green-rgb), .2);
}
.download .card img {
  width: 35px;
  margin-inline: auto;
}
.green-btn {
  color: rgb(var(--clr-light-green-rgb));
  border-color: rgb(var(--clr-light-green-rgb));
}
.green-btn:hover {
  border-color:rgb(var(--clr-light-green-rgb));
  color: white;
  background-color: rgb(var(--clr-light-green-rgb));
}